# This third-party license must remain byte-identical to the installed package.
# Its upstream bytes contain two intentional trailing spaces.
public/hanzi-data/ARPHICPL.TXT -text whitespace=-trailing-space
